body {
  width: 960px;
  margin: auto;
}

.wrapper {
  background-color: aliceblue;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  background-color: aliceblue;
}

.tile {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  font-size: 60px;
}