body {
  width: 960px;
  margin: auto;
}

.wrapper {
  width: 300px;
  margin: 100px auto;
}

.row {
  display: flex;
}

.tile {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  font-size: 60px;
}